﻿@model MVC.Models.WarModels

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete @Model.Name?</h3>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <br><br>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
