﻿@model MVC.Models.CharacterModels

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.House.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Characteristics.Bravoury)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Characteristics.Bravoury)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Characteristics.Crazyness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Characteristics.Crazyness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Characteristics.PV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Characteristics.PV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Characteristics.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Characteristics.Type)
        </dd>
    </dl>
</div>
<p>
	<br>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
	<br>
    @Html.ActionLink("Back to List", "Index")
</p>
