﻿@model MVC.Models.FightModels

@{
    ViewBag.Title = "Details";
}

<div>
    <dl class="dl-horizontal">
        
			<hr/>
           <h2> <dt>@Html.DisplayNameFor(model => model.Winner) </dt><h2/>
        
       
		  <h2>  <dd> @Html.DisplayFor(model => model.Winner.Name) </dd><h2/>
        <hr/>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
