﻿@model IEnumerable<MVC.Models.FightModels>

@{
    ViewBag.Title = "All Fights";
}
<br /><br />
<h1>
    @Html.ActionLink("Jouer", "Create")
</h1>
<br /><br />
<h4>@ViewBag.Title</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Challenger1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Challenger2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.War)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Territory)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenger1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Challenger2.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.War.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Territory.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

</table>

